<app-nav></app-nav>
<div class="container mt-5" >
  <div class="card">
    <div class="card-header">
      <h4 class="text-center">Pesquisa Cep</h4>
    </div>
    <div class="card-body">
        <div class="row">
    <form [formGroup]="dadosForm">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label class="text-secondary" for="">CEP</label>
            <input mask="00000-000" formControlName="cep" [(ngModel)]="bcep" (blur)="buscaCEP()" [ngClass]="{'form-control is-invalid':!bcep,'form-control is-valid':true}" type="text">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <label class="text-secondary" for="">Logradouro</label>
            <input formControlName="logradouro" class="form-control" type="text">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-secondary" for="">Complemento</label>
            <input formControlName="complemento" class="form-control" type="text">
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label class="text-secondary" for="">Bairro</label>
            <input formControlName="bairro" class="form-control" type="text">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="text-secondary" for="">Cidade</label>
            <input formControlName="localidade" class="form-control" type="text">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label class="text-secondary" for="">UF</label>
            <input formControlName="uf" class="form-control" type="text">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="" class="text-secondary">Cód. IBGE</label>
            <input type="text" formControlName="ibge" class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>
